@model IEnumerable<CHIMEX.Models.customer>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int sn = 0;
}


<div class="col-md-1"></div>
<div class="col-md-10">
    <!-- START PANEL WITH CONTROL CLASSES -->
    <div class="panel panel-warning">
        <div class="panel-heading">
            <h3 class="panel-title">LARS</h3>
            <ul class="panel-controls">
                <li><button href="#" class="btn btn-default" onclick="printDiv('rpt')"><span class="fa fa-print"></span>Print</button></li>
                <li><a href="#" class="panel-fullscreen"><span class="fa fa-expand"></span></a></li>
                <li><a href="#" class="panel-collapse"><span class="fa fa-angle-down"></span></a></li>
                <li><a href="#" class="panel-refresh"><span class="fa fa-refresh"></span></a></li>
                <li><a href="#" class="panel-remove"><span class="fa fa-times"></span></a></li>
            </ul>
        </div>
        <div class="panel-body" id="rpt">
            <table class="table">
                <tr>
                    <th>
                        SN
                    </th>
                    <th>
                        Customer
                    </th>
                    <th>
                        Phone
                    </th>
                    <th>
                        Email
                    </th>
                    <th>
                        Address
                    </th>
                    <th>
                        Customer Type
                    </th>
                    <th>
                        Date
                    </th>
                </tr>

                @foreach (var item in Model)
                {
                    sn++;
                    <tr>
                        <td>
                            @sn
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.customer_name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.phone)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.email)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.address)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.customertype)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.insert_date)
                        </td>
                        <td>
                            | @Html.ActionLink("Edit", "Edit", new { id = item.id })|
                            | @Html.ActionLink("LAR Stock", "larstock", new { id = item.id })|
                            | @Html.ActionLink("LAR Request", "LarReqisition", new { id = item.id })|
                            | @Html.ActionLink("Report", "LarStockReport", new { id = item.id })|
                        </td>
                    </tr>
                }

            </table>
        </div>
    </div>
    <!-- END PANEL WITH CONTROL CLASSES -->
</div>