@model CHIMEX.Models.customer

@{
    ViewBag.Title = "LarStock";
    Layout = "~/Views/Shared/_Layout.cshtml";
    CHIMEX.Models.chimexerpEntities db = new CHIMEX.Models.chimexerpEntities();
}
<div class="col-md-1"></div>
<div class="col-md-10">
    <!-- START PANEL WITH CONTROL CLASSES -->
    <div class="panel panel-warning">
        <div class="panel-heading">
            <h3 class="panel-title">LAR Stocks</h3>
            <ul class="panel-controls">
                <li><button href="#" class="btn btn-default" onclick="printDiv('rpt')"><span class="fa fa-print"></span>Print</button></li>
                <li><a href="#" class="panel-fullscreen"><span class="fa fa-expand"></span></a></li>
                <li><a href="#" class="panel-collapse"><span class="fa fa-angle-down"></span></a></li>
                <li><a href="#" class="panel-refresh"><span class="fa fa-refresh"></span></a></li>
                <li><a href="#" class="panel-remove"><span class="fa fa-times"></span></a></li>
            </ul>
        </div>
        <div class="panel-body" id="rpt">
            <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#newstock">Add product to Stock</button>
            <!-- Modal -->
            <div id="newstock" class="modal fade" role="dialog">
                <div class="modal-dialog">
                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Add new Stock</h4>
                        </div>
                        <div class="modal-body">
                            <form method="post" action="@Url.Action("newlarstock","LAR")">
                                <input type="hidden" name="userid" value="@Session["userid"]" />
                                <input type="hidden" name="customerid" value="@Model.id" />
                                <select class="form-control" name="productid" required="">
                                    <option disabled>Select Prduct</option>
                                    @foreach (var item in db.products.ToList())
                                    {
                                        if (db.Larstocks.Where(p => p.product_id == item.id).Count() > 0)
                                        {

                                        }
                                        else
                                        {
                                            <option value="@item.id">@item.product_name</option>
                                        }
                                    }
                                </select>
                                <button class="btn btn-sm btn-success">post</button>

                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>

                </div>
            </div>
            <hr />
            <table class="table">
                <tr>
                    <th>
                        Customer: @Model.customer_name
                    </th>
                    <th>
                        Phone: @Model.phone
                    </th>
                    <th>
                        Email: @Model.email
                    </th>
                </tr>
                <tr>
                    <th>
                        Product
                    </th>
                    <!--<th>
                         Price
                     </th>-->
                    <th>
                        Quantity
                    </th>
                    <!-- <th>
                         Amount
                     </th>
                    <th>
                        Fulls Owing
                    </th>
                    <th>
                        Stock Balance
                    </th>-->
                    <th></th>
                </tr>

                @foreach (var item in db.Larstocks.Where(p=>p.customerid == Model.id))
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.product.product_name)
                        </td>
                        <!--<td>
                            @Html.DisplayFor(modelItem => item.product.selling_price)
                        </td>-->
                        <td>
                            @Html.DisplayFor(modelItem => item.qty)
                        </td>
                        <!--<td>
                            @{
                                var amount = item.qty * item.product.selling_price;
                            }
                            @amount
                        </td>
                        <td>
                            @{
                                var qtySold = db.sales.Where(p => p.stock_id == item.id).Sum(p => p.qty);
                                var qtySupplied = db.supplies.Where(p => p.stock_id == item.id).Sum(p => p.qty);
                                if (qtySupplied == null)
                                {
                                    qtySupplied = 0;
                                }
                                if (qtySold == null)
                                {
                                    qtySold = 0;
                                }

                                var fullsowing = qtySold - qtySupplied;
                            }
                            @fullsowing
                        </td>
                        <td>
                            @{
                                var bal = item.qty - fullsowing;
                            }
                            @bal
                        </td>-->
                        <td>
                            <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#newstock_@item.id">Add Stock</button>

                            <!-- Modal -->
                            <div id="newstock_@item.id" class="modal fade" role="dialog">
                                <div class="modal-dialog">

                                    <!-- Modal content-->
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                            <h4 class="modal-title">Add Stock</h4>
                                        </div>
                                        <div class="modal-body">
                                            <form method="post" action="@Url.Action("addlarstock","LAR")">
                                                <input type="hidden" name="userid" value="@Session["userid"]" />
                                                <input type="hidden" name="productid" value="@item.product_id" />
                                                <input type="hidden" name="customerid" value="@Model.id" />
                                                <input type="hidden" name="stockid" value="@item.id" />
                                                <label>
                                                    Enter Quantity
                                                </label>
                                                <input type="number" required="" name="qty" class="form-control" />
                                                <button class="btn btn-sm btn-success">post</button>
                                            </form>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </td>
                    </tr>
                                }
            </table>
        </div>
    </div>
    <!-- END PANEL WITH CONTROL CLASSES -->
</div>
