@model CHIMEX.Models.customer

@{
    ViewBag.Title = "LarStockReport";
    Layout = "~/Views/Shared/_Layout.cshtml";
    CHIMEX.Models.chimexerpEntities db = new CHIMEX.Models.chimexerpEntities();
    int sn = 0;
    string userid = Session["userid"].ToString();
    var user = db.useraccounts.FirstOrDefault(p => p.id == userid);
    decimal total = 0;

    DateTime StartDate = Convert.ToDateTime(ViewBag.sdate);
    DateTime EndDate = Convert.ToDateTime(ViewBag.edate);
}
<div class="col-md-1"></div>
<div class="col-md-10">
    <!-- START PANEL WITH CONTROL CLASSES -->
    <div class="panel panel-warning">
        <div class="panel-heading">
            <h3 class="panel-title">LAR Stock Report</h3>
            <ul class="panel-controls">
                <li><button href="#" class="btn btn-default" onclick="printDiv('rpt')"><span class="fa fa-print"></span>Print</button></li>
                <li><a href="#" class="panel-fullscreen"><span class="fa fa-expand"></span></a></li>
                <li><a href="#" class="panel-collapse"><span class="fa fa-angle-down"></span></a></li>
                <li><a href="#" class="panel-refresh"><span class="fa fa-refresh"></span></a></li>
                <li><a href="#" class="panel-remove"><span class="fa fa-times"></span></a></li>
            </ul>
        </div>
        <form action="@Url.Action("LarStockReport", "LAR")" method="post">
            <div class="col-md-3">
                <label>
                    Start Date
                </label>
                <input type="date" class="form-control" value="@Session["startdate"]" name="startdate" required="" />
            </div>
            <div class="col-md-3">
                <label>
                    End Date
                </label>
                <input type="date" class="form-control" value="@Session["enddate"]" name="enddate" required="" />
            </div>
            <div class="col-md-3">
                <label>
                    LAR
                </label>
                <select class="form-control" name="id" required="">
                    <option >Select LAR</option>
                    @foreach (var item in db.customers.Where(p => p.customertype == "LAR"))
                    {
                        <option value="@item.id">@item.customer_name</option>
                    }
                </select>
            </div>
            <div class="col-md-2">
                <br />
                <button class="btn btn-success btn-sm"><span class="icon glyphicon-filter"></span> Filter</button>
            </div>
            <div class="col-md-12">
                <hr />
            </div>
        </form>
        <hr />
        <div class="panel-body" id="rpt">
            <table class="table">
                <tr>
                    <th class="text-center" colspan="2">
                        <h4>
                            GOBBLES BAKERY
                        </h4>
                    </th>
                </tr>
                <tr>
                    <th colspan="2">
                        <h4>
                            LAR STOCK REPORT
                        </h4>
                    </th>
                </tr>
                <tr>
                    <th>
                        Printed by: @user.firstname @user.lastname @user.othernames
                    </th>
                    <th>
                        Printed As at: @DateTime.Now
                    </th>
                </tr>
                <tr>
                    <td>
                        FROM  @Session["startdate"] TO @Convert.ToDateTime(Session["enddate"]).AddDays(-1)
                    </td>
                    <td></td>
                </tr>
            </table>
            <table class="table">
                <tr>
                    <th>
                        SN
                    </th>
                    <th>
                        Product
                    </th>
                    <th>
                        Qty At Hand
                    </th>
                    <th>
                        Qty Added
                    </th>
                    <th>
                        Qty  Paid
                    </th>
                    <!--<th class="text-right">
                        Unit Price ( &#8358 )
                    </th>
                    <th class="text-right">
                        Amount ( &#8358 )
                    </th>-->

                </tr>

                @foreach (var item in db.Larstocks.Where(p => p.customerid == Model.id))
                {
                    sn++;
                    <tr>
                        <td>
                            @sn
                        </td>
                        <td>
                            @item.product.product_name
                        </td>
                        <td>
                            @item.qty
                        </td>
                        <td>
                            @{
                                var qty = 0;
                                var ls = db.larstock_added.Where(p => p.product_id == item.product_id && p.customerid == Model.id && p.update_date >= StartDate && p.update_date < EndDate);
                                if(ls != null)
                                {
                                   qty =  ls.Sum(p => p.qty);
                                }
                            }
                            @qty
                        </td>
                        <td>
                            @{
                                var qtysold = 0;
                                var sld = db.sales.Where(p => p.product_id == item.product_id && p.customer_id == Model.id && p.date_sold >= StartDate && p.date_sold < EndDate);
                                if(sld != null)
                                {
                                    qtysold = Convert.ToInt32(sld.Sum(p => p.qty));
                                }
                            }
                            @qtysold
                        </td>
                        @*<td class="text-right">
                            @String.Format("{0:#,#.00}", item.unitprice)
                        </td>
                        <td class="text-right">
                            @String.Format("{0:#,#.00}", item.total_amount)
                        </td>*@
                    </tr>
                }
                <tr>
                    <th colspan="6" class="text-center">
                    </th>
                    <th class="text-right">
                    </th>
                </tr>

            </table>

        </div>
    </div>
    <!-- END PANEL WITH CONTROL CLASSES -->
</div>