@model IEnumerable<CHIMEX.Models.staff>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-md-12">
        <!-- START PANEL WITH CONTROL CLASSES -->
        <div class="card">
            <div class="card-header">
                <h3 class="panel-title">
                    Staff

                </h3>
            </div>
            <div class="panel-body">

                <button href="#" class="btn btn-outline-warning" onclick="printDiv('rpt')"><span class="fa fa-print"></span>Print</button>
                <a href="@Url.Action("Create","staffs")" class="btn btn-outline-success"><span class="fa fa-user"></span>Add New Staff</a>

                <table class="table">
                    <tr>
                        <th>
                            Name
                        </th>
                        <th>
                            Phone No.
                        </th>
                        <th>
                            Address
                        </th>
                        <th>
                            Reg. Date
                        </th>
                        <th></th>
                    </tr>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.phone)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.address)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.insertdate)
                            </td>
                            <td>
                                @Html.ActionLink("Edit", "Edit", new { id = item.id }) |
                                @Html.ActionLink("Details", "Details", new { id = item.id }) |
                                @Html.ActionLink("Delete", "Delete", new { id = item.id }) |
                                @Html.ActionLink("Salaries", "Payrol", new { id = item.id })
                            </td>
                        </tr>
                    }

                </table>
            </div>
        </div>
        <!-- END PANEL WITH CONTROL CLASSES -->
    </div>
</div>
