@{
    ViewBag.Title = "Supply";
    Layout = "~/Views/Shared/_Layout.cshtml";
    CHIMEX.Models.chimexerpEntities db = new CHIMEX.Models.chimexerpEntities();
    decimal TotalAmount = 0;
}

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="card-header py-3">
                    <center>
                        <h4 class="m-0 font-weight-bold text-primary">Supplies</h4>
                    </center>
                </div>
                <br />
                <br />

                <div class="card-body" id="rpt">
                    <div class="row">

                        <div class="col-md-6">
                            <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for item..">
                            <table class="table table-striped" id="search">
                                <thead>
                                    <tr>
                                        <th colspan="6">
                                            Item In Stock
                                        </th>
                                    </tr>
                                    <tr class="success">
                                        <th>
                                            Item
                                        </th>
                                        <th>
                                            Qutanty At Hand
                                        </th>
                                        <th>
                                            Quantity
                                        </th>
                                        <th>
                                            Amount (&#8358)
                                        </th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in db.main_stocks.ToList())
                                    {
                                        <tr class="">
                                            <td>
                                                @Html.DisplayFor(modelItem => item.product.product_name)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.qty)
                                            </td>
                                            @*<td>
            <form action="@Url.Action("Supply","main_stocks")" method="post">
                <input type="hidden" name="id" value="@item.id" />
                <input type="hidden" name="userid" value="@Session["userid"]" />
                <div class="col-md-8">
                    <input type="number" required="" name="qty" class="form-control" />
                </div>
                <div class="col-md-4">
                    <button class="btn btn-success btn-sm">+</button>
                </div>
            </form>
        </td>*@



                                            <form action="@Url.Action("Supply","main_stocks")" method="post">
                                                <input type="hidden" name="id" value="@item.id" />
                                                <input type="hidden" name="userid" value="@Session["userid"]" />
                                            <td>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <input type="number" required="" name="qty" class="form-control" />
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        
                                                        <button class="btn btn-success btn-sm">+</button>
                                                    </div>
                                                </div>

                                            </td>
                                            </form>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                        <script>
                        //Save Complains
                        $(function () {
                            $("#btnPost").click('submit', function (e) {
                                        @*$(location).attr("href", "@Url.Action("Sale","Sales")");*@
                                    })
                        })
                        </script>
                        <div class="col-md-6">
                            <table class="table table-striped" id="mytable">
                                <tr>
                                    <th colspan="6">
                                        Stock Cart
                                    </th>
                                </tr>
                                <tr class="success">
                                    <th>
                                        Item
                                    </th>
                                    <th>
                                        Quantity
                                    </th>
                                    @*<th>
                                            Fulls Owing
                                        </th>*@
                                    <th></th>
                                    <th></th>
                                </tr>
                                @foreach (var item in db.main_stocks_Report_temp.ToList())
                                {
                                    <tr class="">
                                        <td>
                                            @Html.DisplayFor(modelItem => item.main_stocks.product.product_name)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.qty)
                                        </td>
                                        <td>
                                        </td>
                                        <td>
                                            <a class="btn btn-sm btn-danger" href="@Url.Action("RemoveSupplyCart/"+item.id,"main_stocks")">X</a>
                                        </td>
                                    </tr>
                                }
                                <tr>
                                    <td colspan="4">
                                        <form action="@Url.Action("PostSupply","main_stocks")" method="post">
                                            <input type="hidden" name="id" value="@Session["userid"]" />
                                            <input type="text" name="notes" class="form-control" placeholder="Notes.." />
                                            <br />
                                            <div class="row">
                                                <div class="col-md-12 text-center">
                                                    <button class="btn btn-success btn-sm">Post</button>
                                                </div>
                                            </div>
                                           
                                        </form>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END PANEL WITH CONTROL CLASSES -->
        </div>
    </div>
</div>

