@model IEnumerable<CHIMEX.Models.order_cart>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.product_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.qty)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.unitprice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.total_amount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.date_sold)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sold_by)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.customer.customer_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Order.customerid)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.product.product_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.stock.product_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.transaction.branchid)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.useraccount.branchid)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.product_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.qty)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.unitprice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.total_amount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.date_sold)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.sold_by)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.customer.customer_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Order.customerid)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.product.product_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.stock.product_id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.transaction.branchid)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.useraccount.branchid)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
