
@{
    ViewBag.Title = "ChangeUserType";
    Layout = "~/Views/Shared/_Layout.cshtml";
    CHIMEX.Models.chimexerpEntities db = new CHIMEX.Models.chimexerpEntities();
}

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="card-header py-3">
                    <center>
                        <h4 class="m-0 font-weight-bold text-primary">Change User Roles & Office</h4>
                    </center>
                </div>
                <br />
                <br />


                <div class="card-body">
                    <button href="#" class="btn btn-warning" onclick="printDiv('rpt')"><span class="fa fa-print"></span>Print</button>


                    <div class="btn text-success">@ViewBag.message</div>
                    <form action="@Url.Action("ChangeUserType","useraccounts")" method="post">
                        <div class="row">

                            <div class="col-md-4">
                                <label>User</label>
                                <select class="form-control" name="userid">
                                    @foreach (var item in db.useraccounts.ToList())
                                    {
                                        <option value="@item.id">@item.firstname @item.lastname</option>
                                    }
                                </select>
                            </div>
                            <div class="col-md-4">
                                <label>User Type</label>
                                <select name="usertype" class="form-control">
                                    <option value="SALES_CLARK">SALES_CLARK</option>
                                    <option value="STORE_KEEPER">STORE_KEPPER</option>
                                    <option value="ADMIN">SYSTEM ADMIN</option>
                                </select>
                            </div>
                            <div class="col-md-4">
                                <label>Branch Office</label>
                                <select name="branchid" class="form-control">
                                    <option value="">--branch--</option>
                                    @foreach (var item in db.Branches.ToList())
                                    {
                                        <option value="@item.id">@item.name</option>
                                    }
                                </select>
                            </div>
                        </div>



                        <br />
                        <center>
                            <button class="btn btn-success">Save Cahnges</button>
                        </center>
                    </form>
                </div>
            </div>
            <!-- END PANEL WITH CONTROL CLASSES -->
        </div>
    </div>

</div> 
