
@{
    ViewBag.Title = "Login";
    Layout = null;// "~/Views/Shared/_Layout.cshtml";
}

@*<div class="service-w3l" id="services" style="background-image:url(../../Images/bg.jpg);">
        <div class="container">

            <div class="service-grids">
                <div class="col-md-3"></div>
                <div class="col-md-6 ser-grid">
                    <div class="ser-top">

                        <div class="clearfix"></div>

                        <form id="frmLogin" method="post" action="@Url.Action("Login", "UserAccounts")">
                            @Html.AntiForgeryToken()

                            <div class="form-horizontal">
                                <h4>User Login</h4>
                                <hr />
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                <div id="msg" class="text text-danger">@ViewBag.error</div>
                                <div id="success" class="text text-success"></div>
                                <label>Email</label>
                                <input type="email" name="email" id="email" class="form-control" />
                                <label>Password</label>
                                <input type="password" name="password" id="password" class="form-control" />
                                <div class="clearfix"></div>
                                <hr />
                                <button class="btn btn-success" id="btnLogin">Login</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>


        </div>
    </div>*@

@*<script>
                    //Add new member
                    $(function () {
                        $("#btnLogin").click('submit', function (e) {
                            var password = document.getElementById("password").value;
                            var email = document.getElementById("email").value;

                            if (password === "" || password === null || email === "" || email === null) {
                                var dataToPost = $("#frmLogin").serialize();
                                $.ajax({
                                    type: "POST",
                                    data: dataToPost,
                                    url: "@Url.Action("Login", "UserAccounts")",
                                    success: function (data) {
                                        //alert("Login Success. " + data[0]);
                                        document.getElementById("success").innerHTML = "Login Success."+ data[0];
                                        document.forms["frmLogin"].reset();
                                    },
                                    error: function () {
                                        document.getElementById("msg").innerHTML = "An error occured, Please review your entries and retry.";
                                    }
                                })
                            }
                            else
                            {
                                document.getElementById("msg").innerHTML = "Login failed. Please enter password or Email.";
                            }
                            return false;
                        })
                    })
    </script>*@


@*<!DOCTYPE html>
<html lang="en" class="body-full-height">
<head>
     META SECTION 
    <title>GOBBLES BAKERY-Login</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="icon" href="favicon.ico" type="image/x-icon" />
     END META SECTION 
     CSS INCLUDE 
    <link rel="stylesheet" type="text/css" id="theme" href="~/joli/css/theme-default.css" />
     EOF CSS INCLUDE 
</head>
<body>

    <div class="login-container" style="background-image: url('~/joli/img/snacksbanner.jpg');">

        <div class="login-box animated fadeInDown">

            <div class="login-body">
                <center>
                    <h1 class="text-capitalize login-title">

                        GOBBLES BAKERY
                    </h1>
                    <br />
                    <br />
                </center>
                <div class="login-title"><strong>Welcome</strong>, Please login</div>
                <form id="frmLogin" method="post" action="@Url.Action("Login", "UserAccounts")">
                    @Html.AntiForgeryToken()


                    <div class="form-horizontal">
                        <hr />
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div id="msg" class="text text-danger">@ViewBag.error</div>
                        <div id="success" class="text text-success"></div>
                        <label>Email</label>
                        <input type="email" name="email" id="email" class="form-control" />
                        <label>Password</label>
                        <input type="password" name="password" id="password" class="form-control" />

                        <div class="clearfix"></div>
                        <hr />
                        <button class="btn btn-success" id="btnLogin">Login</button>
                    </div>
                </form>
            </div>
            <div class="login-footer">
                <div class="pull-left">
                    &copy; @DateTime.Now.Year GOBBLES BAKERY
                </div>
                <div class="pull-right">
                    <a href="#@Url.Action("Index","Home")">About</a> |
                    <a href="@Url.Action("Index","Home")">Privacy</a> |
                    <a href="@Url.Action("Index","Home")">Contact Us</a>
                </div>
            </div>
        </div>

    </div>

</body>
</html>*@



<!doctype html>
<html lang="en">

<head>

    <meta charset="utf-8" />
    <title>GOBBLES BAKERY</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="Premium Multipurpose Admin & Dashboard Template" name="description" />
    <meta content="Themesbrand" name="author" />
    <!-- App favicon -->
    <link rel="shortcut icon" href="~/Content/web/assets/images/favicon.ico">

    <!-- Bootstrap Css -->
    <link href="~/Content/web/assets/css/bootstrap.min.css" id="bootstrap-style" rel="stylesheet" type="text/css" />
    <!-- Icons Css -->
    <link href="~/Content/web/assets/css/icons.min.css" rel="stylesheet" type="text/css" />
    <!-- App Css-->
    <link href="~/Content/web/assets/css/app.min.css" id="app-style" rel="stylesheet" type="text/css" />

</head>

<body>
    <div class="home-btn d-none d-sm-block">
        <a href="index.html" class="text-dark"><i class="fas fa-home h2"></i></a>
    </div>
    <div class="account-pages my-5 pt-sm-5">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8 col-lg-6 col-xl-5">
                    <div class="card overflow-hidden">
                        <div class="bg-login text-center">
                            <div class="bg-login-overlay"></div>
                            <div class="position-relative">
                                <h5 class="text-white font-size-20">
                                    GOBBLES BAKERY
                                </h5>
                                <p class="text-white-50 mb-0">Welcome, Please login</p>
                                <a href="index.html" class="logo logo-admin mt-4">
                                    <img src="~/Content/web/assets/images/logo-sm-dark.png" alt="" height="30">
                                </a>
                            </div>
                        </div>
                        <div class="card-body pt-5">
                            <div class="p-2">
                                <form id="frmLogin" method="post" action="@Url.Action("Login", "UserAccounts")">
                                    @Html.AntiForgeryToken()

                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                    <div id="msg" class="text text-danger">@ViewBag.error</div>
                                    <div id="success" class="text text-success"></div>

                                    <div class="mb-3">
                                        <label class="form-label" for="username">Email</label>
                                        <input type="email" class="form-control" name="email" id="email" placeholder="Enter email">
                                    </div>

                                    <div class="mb-3">
                                        <label class="form-label" for="userpassword">Password</label>
                                        <input type="password" class="form-control" name="password" id="password"
                                               placeholder="Enter password">
                                    </div>


                                    <div class="mt-3">
                                        <button class="btn btn-primary w-100 waves-effect waves-light" type="submit">
                                            Log
                                            In
                                        </button>
                                    </div>

                                    @*<div class="mt-4 text-center">
            <a href="pages-recoverpw.html" class="text-muted">
                <i class="mdi mdi-lock me-1"></i> Forgot your password?
            </a>
        </div>*@
                                </form>
                            </div>

                        </div>
                    </div>
                    <div class="mt-5 text-center">
                        <p>
                            © 2023 GOBBLES BAKERYs
                        </p>
                        <p>
                            ©
                            <script>document.write(new Date().getFullYear())</script> Crafted with <i class="mdi mdi-heart text-danger"></i> by Codeicon technologies
                        </p>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <!-- JAVASCRIPT -->
    <!-- JAVASCRIPT -->
    <script src="~/Content/web/assets/libs/jquery/jquery.min.js"></script>
    <script src="~/Content/web/assets/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/Content/web/assets/libs/metismenu/metisMenu.min.js"></script>
    <script src="~/Content/web/assets/libs/simplebar/simplebar.min.js"></script>
    <script src="~/Content/web/assets/libs/node-waves/waves.min.js"></script>
    <script src="~/Content/web/assets/libs/jquery-sparkline/jquery.sparkline.min.js"></script>

    <script src="~/Content/web/assets/js/app.js"></script>

</body>

</html>