@model IEnumerable<CHIMEX.Models.empty_stock>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-md-1"></div>
<div class="col-md-10">
    <!-- START PANEL WITH CONTROL CLASSES -->
    <div class="panel panel-warning">
        <div class="panel-heading">
            <h3 class="panel-title">Empties Stock Card</h3>
            <ul class="panel-controls">
                <li><button href="#" class="btn btn-default" onclick="printDiv('rpt')"><span class="fa fa-print"></span>Print</button></li>
                <li><a href="#" class="panel-fullscreen"><span class="fa fa-expand"></span></a></li>
                <li><a href="#" class="panel-collapse"><span class="fa fa-angle-down"></span></a></li>
                <li><a href="#" class="panel-refresh"><span class="fa fa-refresh"></span></a></li>
                <li><a href="#" class="panel-remove"><span class="fa fa-times"></span></a></li>
            </ul>
        </div>
        <form action="" method="post">
            <div class="col-md-4">
                <label>
                    Start Date
                </label>
                <input type="date" class="form-control" value="@Session["startdate"]" name="startdate" required="" />
                <input type="hidden" class="form-control" value="ALL" name="id" required="" />
            </div>
            <div class="col-md-4">
                <label>
                    End Date
                </label>
                <input type="date" class="form-control" value="@Session["enddate"]" name="enddate" required="" />
            </div>
            <div class="col-md-2">
                <br />
                <button class="btn btn-success btn-sm"><span class="icon glyphicon-filter"></span> Filter</button>
            </div>
            <div class="col-md-12">
                <hr />
            </div>
        </form>
        <div class="panel-body" id="rpt">

            <p>
                @Html.ActionLink("Create New", "Create")
            </p>
            <table class="table">
                <tr>
                    <th>
                        Openining Stock
                    </th>
                    <th>
                        Empties Received
                    </th>
                    <th>
                        Backload
                    </th>
                    <th>
                        Balance
                    </th>
                    <th>
                        Description
                    </th>
                    <th>
                        Date
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.openingstock)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.empty_received)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.backload)
                        </td>
                        <td>
                            @{ 
                                var bal = (item.openingstock + item.openingstock) - item.backload;
                            }
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.notes)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.insertdate)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.id }) |
                            @Html.ActionLink("Details", "Details", new { id = item.id }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.id })
                        </td>
                    </tr>
                }

            </table>

        </div>
    </div>
    <!-- END PANEL WITH CONTROL CLASSES -->
</div>
