@model CHIMEX.Models.production

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
    CHIMEX.Models.chimexerpEntities db = new CHIMEX.Models.chimexerpEntities();
}

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="card-header py-3">
                    <center>
                        <h4 class="m-0 font-weight-bold text-primary">CREATE PRODUCTION</h4>
                    </center>
                </div>

                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    <div class="form-horizontal">
                        <hr />
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                        <div class="form-group">
                            <div class="col-md-12">
                                <label>Product Name</label>
                                <select class="form-control" name="stockid" required="">
                                    @foreach (var item in db.stocks.ToList())
                                    {
                                        <option value="@item.id">@item.product.product_name</option>
                                    }
                                </select>
                                @Html.ValidationMessageFor(model => model.stockid, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-12">
                                <label>Description</label>
                                <textarea name="decription" class="form-control" rows="5"></textarea>
                                @Html.ValidationMessageFor(model => model.decription, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                <label>Number of Bags</label>
                                <select name="qty_bags" class="form-control" required="">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                    <option value="7">7</option>
                                    <option value="8">8</option>
                                    <option value="9">9</option>
                                    <option value="12">12</option>
                                </select>
                                @Html.ValidationMessageFor(model => model.qty_bags, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                <label>Quantity</label>
                                <input type="number" class="form-control" name="qty_items" required="" />
                                @Html.ValidationMessageFor(model => model.qty_items, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <br />

                        <div class="row">
                            <div class="col-md-12 text-center">
                                <input type="submit" value="Create" class="btn btn-success" />

                                <a href="@Url.Action("Index", "productions")" class="btn btn-primary">Back to List</a>
                            </div>
                        </div>



                    </div>
                }

            </div>
        </div>
    </div>
</div>