@model CHIMEX.Models.production

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>production</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.decription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.decription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.qty_bags)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.qty_bags)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.qty_items)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.qty_items)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.insertdate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.insertdate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.product.product_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.product.product_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.useraccount.branchid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.useraccount.branchid)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
