@model IEnumerable<CHIMEX.Models.production>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int sn = 0;
}
<div class="col-lg-offset-1 col-md-12">
    <!-- START SALES & EVENTS BLOCK -->
    <div class="card panel-default">
        <div class="card-heading">
            <div class="card-title">
                <h3>Productions</h3>
            </div>
        </div>
        <div class="card-body ">
            <div class="row">
                <div class="col-md-8">
                    <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for item..">
                </div>
                <div class="col-md-4">
                    <button href="#" class="btn btn-outline-warning pull-right" onclick="printDiv('rpt')"><span class="fa fa-print"></span>Print</button>
                    <a href="@Url.Action("Create","Productions")" class="btn btn-outline-success">Add New</a>
                </div>
            </div>
            <table class="table table-striped" id="search">
                <thead>
                    <tr>
                        <th>SN</th>
                        <th>Stock</th>
                        <th>Bags</th>
                        <th>Qty</th>
                        <th>Date</th>
                        <th>User</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.ToList().OrderByDescending(p => p.insertdate))
                    {
                        sn++;
                        <tr>
                            <td>
                                @sn
                            </td>
                            <td>
                                @item.stock.product.product_name
                            </td>
                            <td>
                                @item.qty_bags
                            </td>
                            <td>
                                @item.qty_items
                            </td>
                            <td>
                                @item.useraccount.firstname @item.useraccount.lastname
                            </td>
                            <td>
                                @item.insertdate
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <!-- END SALES & EVENTS BLOCK -->
</div>

