@model IEnumerable<CHIMEX.Models.customer>

@{
    ViewBag.Title = "Customers";
    Layout = "~/Views/Shared/_Layout.cshtml";
    CHIMEX.Models.chimexerpEntities db = new CHIMEX.Models.chimexerpEntities();
    int sn = 0;
    string userid = Session["userid"].ToString();
    var user = db.useraccounts.FirstOrDefault(p => p.id == userid);
}
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="card-header py-3">
                    <center>
                        <h4 class="m-0 font-weight-bold text-primary">Customer</h4>
                    </center>
                </div>
                <br />
                <br />

                <div class="table-rep-plugin">
                    <div class="table-responsive mb-0" data-pattern="priority-columns">
                        <div class="row">
                            <div class="col-md-8">
                                <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for item..">
                            </div>
                            <div class="col-md-4">
                                <button href="#" class="btn btn-outline-warning pull-right" onclick="printDiv('rpt')"><span class="fa fa-print"></span>Print</button>
                                @*<a href="@Url.Action("Create","Customers")" class="btn btn-success btn-sm">
                                    Create New Customer
                                </a>*@
                            </div>
                        </div>
                        <div class="panel-body" id="rpt">
                            <table class="table table-striped" id="search">
                                <thead>
                                    <tr>
                                        <th data-priority="1">
                                            SN
                                        </th>
                                        <th data-priority="2">
                                            Customer Name
                                        </th>
                                        <th data-priority="3">
                                            Phone
                                        </th>
                                        <th data-priority="4">
                                            Email
                                        </th>
                                        <th data-priority="5">
                                            Address
                                        </th>
                                        <th data-priority="6" class="text-right">
                                            ACCOUNT BALANCE ( &#8358 )
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        sn++;
                                        <tr>
                                            <td>
                                                @sn
                                            </td>
                                            <td>
                                                <a href="@Url.Action("Details/"+item.id,"Customers")">
                                                    @Html.DisplayFor(modelItem => item.customer_name)
                                                </a>
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.phone)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.email)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.address)
                                            </td>
                                            <td class="text-right">
                                                @{
                                                    decimal actbalance = 0;
                                                    var bal = db.customer_ledger.Where(p => p.customerid == item.id).OrderByDescending(p => p.insertdate).FirstOrDefault();
                                                    if (bal != null)
                                                    {
                                                        actbalance = Convert.ToDecimal(bal.balance);
                                                    }
                                                }

                                                @String.Format("{0:#,#.00}", actbalance)
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> 