@model CHIMEX.Models.customer

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int sn = 0;
    CHIMEX.Models.chimexerpEntities db = new CHIMEX.Models.chimexerpEntities();
    string userid = Session["userid"].ToString();
    var user = db.useraccounts.FirstOrDefault(p => p.id == userid);


    DateTime StartDate = Convert.ToDateTime(ViewBag.sdate);
    DateTime EndDate = Convert.ToDateTime(ViewBag.edate);
    //var trans = db.transactions.Where(p => p.trnx_date >= StartDate && p.trnx_date < EndDate);
}

<div class="col-md-1"></div>
<div class="col-md-10">
    <!-- START PANEL WITH CONTROL CLASSES -->
    <div class="card">
        <div class="card-header">
            <h3 class="panel-title">Customer Account</h3>
        </div>
        
        <div class="card-body" id="rpt">
            <form method="post">
                <div class="row">
                    <div class="col-md-3">
                        <label>
                            Start Date
                        </label>
                        <input type="date" class="form-control" value="@Session["startdate"]" name="startdate" required="" />
                    </div>
                    <div class="col-md-3">
                        <label>
                            End Date
                        </label>
                        <input type="date" class="form-control" value="@Session["enddate"]" name="enddate" required="" />
                    </div>
                    <div class="col-md-2">
                        <br />
                        <button class="btn btn-success btn-sm"><span class="icon glyphicon-filter"></span> Filter</button>
                    </div>
                    <div class="col-md-12">
                        <hr />
                        <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#__@Model.id">Post Transaction</button>
                        <hr />
                    </div>
                </div>
            </form>
            <table class="table">
                <tr>
                    <th class="text-center" colspan="2">
                        <h4>
                            GOBBLES BAKERY
                        </h4>
                    </th>
                </tr>
                <tr>
                    <th colspan="2">
                        <h4>
                            Customer Ledger Report
                        </h4>
                    </th>
                </tr>
                <tr>
                    <th>
                        Printed by: @user.firstname @user.lastname @user.othernames
                    </th>
                    <th>
                        Printed As at: @DateTime.Now
                    </th>
                </tr>
                <tr>
                    <th>
                        FROM:   @Session["startdate"] TO:  @Convert.ToDateTime(Session["enddate"]).AddDays(-1)
                    </th>
                    <td></td>
                </tr>
            </table>
            <table class="table table-responsive">
                <thead>
                    <tr>
                        <th>SN</th>
                        <th>Date</th>
                        <th>Transaction No</th>
                        <th>Posted By</th>
                        <th>Customer</th>
                        <th>Payment Type</th>
                        <th>Credit ( &#8358 )</th>
                        <th>Debit ( &#8358 )</th>
                        <th>Balance ( &#8358 )</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in db.customer_ledger.Where(p => p.customerid == Model.id && p.insertdate >= StartDate && p.insertdate < EndDate).OrderByDescending(p => p.insertdate).ToList())
                    {
                        sn++;
                        <tr>
                            <td>
                                @sn
                            </td>
                            <td>
                                @item.insertdate
                            </td>
                            <td>
                                @item.transactionid
                            </td>
                            <td>
                                @item.useraccount.firstname
                                @item.useraccount.lastname
                                @item.useraccount.othernames
                            </td>
                            <td>
                                @item.customer.customer_name
                            </td>
                            <td>
                                @item.paymenttype
                            </td>
                            <td>
                                @String.Format("{0:#,#.00}", item.credit)
                            </td>
                            <td>
                                @String.Format("{0:#,#.00}", item.debit)
                            </td>
                            <td>
                                @String.Format("{0:#,#.00}", item.balance)
                            </td>
                        </tr>
                    }
                    <tr>
                        <td>
                            <button href="#" class="btn btn-default" onclick="printDiv('rpt')"><span class="fa fa-print"></span>Print</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!-- END PANEL WITH CONTROL CLASSES -->
</div>



<div id="__@Model.id" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Credit/Debit Customer Account</h4>
            </div>
            <div class="modal-body">
                <form method="post" action="@Url.Action("updateAccount","Customers")">
                    <input type="hidden" name="userid" value="@Session["userid"]" />
                    <input type="hidden" name="customerid" value="@Model.id" />
                    <label>Transaction Type</label>
                    <select class="form-control" name="transactiontype" required="">
                        <option value=""> --Select Transaction Type-- </option>
                        <option value="DEBITED">DEBIT</option>
                        <option value="CREDITED">CREDIT</option>
                    </select>
                    <label>Payment Type</label>
                    <select class="form-control" required="" name="paymenttype">
                        <option value="">--Select Payment Type--</option>
                        <option value="CASH">CASH</option>
                        <option value="CREDIT">CREDIT</option>
                        <option value="CHEQUE">CHEQUE</option>
                        <option value="TRANSFER">TRANSFER</option>
                        <option value="POS">POS</option>
                    </select>
                    <label>Customer Name</label>
                    <input type="text" name="" readonly="" class="form-control" value="@Model.customer_name" />
                    <label>Received From</label>
                    <input type="text" name="receivedfrom" class="form-control" value="@Model.customer_name" />
                    <label>Description</label>
                    <input type="text" name="description" required="" class="form-control" />
                    <label>Amount (N)</label>
                    <input type="number" class="form-control" name="amount" required="" value="" />
                    <button class="btn btn-sm btn-success">post</button>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>
