@model IEnumerable<CHIMEX.Models.customer>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int sn = 0;
}

<div class="row">

</div>
<div class="col-md-1"></div>
<div class="col-md-12">
    <!-- START PANEL WITH CONTROL CLASSES -->
    <div class="card panel-warning">
        <div class="card-header">
            <h3 class="panel-title">Customers</h3>
        </div>
        <div class="card-body" id="rpt">
            <a href="@Url.Action("Create","Customers")" class="btn btn-success btn-sm"> Create New Customer
            </a>
            <hr />
            <table class="table" id="search">
                <thead>
                    <tr>
                        <th>
                            SN
                        </th>
                        <th>
                            Customer
                        </th>
                        <th>
                            Phone
                        </th>
                        <th>
                            Email
                        </th>
                        <th>
                            Address
                        </th>
                        <th>
                            Customer Type
                        </th>
                        <th>
                            Date
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        sn++;
                        <tr>
                            <td>
                                @sn
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.customer_name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.phone)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.email)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.address)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.customertype)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.insert_date)
                            </td>
                            <td>
                                | @Html.ActionLink("Edit", "Edit", new { id = item.id })|
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <!-- END PANEL WITH CONTROL CLASSES -->
</div>