@{
    CHIMEX.Models.chimexerpEntities db = new CHIMEX.Models.chimexerpEntities();
    string userid = "";
    if (Session["userid"] != null)
    {
        userid = Session["userid"].ToString();
    }
    var User = db.useraccounts.Find(userid);
}


<!-- ========== Left Sidebar Start ========== -->
<div class="vertical-menu">

    <div class="h-100">

        <div class="user-wid text-center py-4">
            <div class="user-img">
                @*<img src="~/Content/web/assets/images/users/avatar-2.jpg" alt="" class="avatar-md mx-auto rounded-circle">*@
                <a href="@Url.Action("Index","Home")">
                    <b class="logo-icon">
                        <!-- Dark Logo icon -->
                        <img src="~/Content/web/assets/images/users/avatar-2.jpg" alt="" class="avatar-md mx-auto rounded-circle">
                    </b>
                </a>
            </div>

            <div class="mt-3">
                <a href="@Url.Action("Index","Home")"> Welcome @User.firstname @User.lastname</a>
                <a href="" class="text-dark fw-medium font-size-16">@User.email</a>
                <p class="text-body mt-1 mb-0 font-size-13">WELLCOME</p>
                <a href="@Url.Action("ChangePassword/"+userid,"useraccounts")"
                   class="btn btn-primary fw-medium font-size-10">
                    <i class="mdi mdi-textbox-password"></i>
                    <span>Change Password</span>
                </a>
            </div>
        </div>
        <!--- Sidemenu -->
        <div id="sidebar-menu">
            <!-- Left Menu Start -->
            <ul class="metismenu list-unstyled" id="side-menu">


                @if (Session["userid"] == null || Session["usertype"] == null)
                {

                }
                else
                {

                    string UserType = Session["usertype"].ToString();
                    if (UserType == "ACCOUNT")
                    { }
                    if (UserType == "SALES_CLARK")
                    {
                        <li class="menu-title">CASH OFFICE</li>

                        <li>
                            <a class="sidebar-link" href="@Url.Action("Sales", "Sales")">
                                <i class="mdi mdi-checkbox-multiple-blank-outline" class="feather-icon"></i><span>
                                    SALES DASHBORD
                                </span>
                            </a>
                        </li>
                        <li>
                            <a class="sidebar-link" href="@Url.Action("Index", "Products")">
                                <i class="mdi mdi-checkbox-multiple-blank-outline" class="feather-icon"></i><span>
                                    PRODUCTS (FINISHED GOODS/ RAW MATERIALS)
                                </span>
                            </a>
                        </li>
                        <li>
                            <a class="sidebar-link" href="@Url.Action("Index", "Stocks")">
                                <i class="mdi mdi-checkbox-multiple-blank-outline" class="feather-icon"></i><span>
                                    MANAGE STOCKS (FINISHED GOODS)
                                </span>
                            </a>
                        </li>
                        <li>
                            <a class="sidebar-link" href="@Url.Action("Index", "Orders")">
                                <i class="mdi mdi-checkbox-multiple-blank-outline" class="feather-icon"></i><span>
                                    ORDER
                                </span>
                            </a>
                        </li>
                        <li>
                            <a class="sidebar-link" href="@Url.Action("UserSalesReport", "Sales")">
                                <i class="mdi mdi-checkbox-multiple-blank-outline" class="feather-icon"></i><span>
                                    SALES REPORT
                                </span>
                            </a>
                        </li>
                        <li>
                            <a class="sidebar-link" href="@Url.Action("Index", "Customers")">
                                <i class="mdi mdi-checkbox-multiple-blank-outline" class="feather-icon"></i><span>
                                    CUSTOMERS
                                </span>
                            </a>
                        </li>

                    }
                    else
                    if (UserType == "STORE_KEEPER")
                    {
                        <li class="menu-title">STORE KEEPER</li>
                        <li>
                            <a class="sidebar-link" href="@Url.Action("Index", "Products")">
                                <i class="mdi mdi-checkbox-multiple-blank-outline" class="feather-icon"></i><span>
                                    PRODUCTS (FINISHED GOODS/ RAW MATERIALS)
                                </span>
                            </a>
                        </li>
                        <li>
                            <a class="sidebar-link" href="@Url.Action("Index", "Stocks")">
                                <i class="mdi mdi-checkbox-multiple-blank-outline" class="feather-icon"></i><span>
                                    MANAGE STOCKS (FINISHED GOODS)
                                </span>
                            </a>
                        </li>
                        <li>
                            <a class="sidebar-link" href="@Url.Action("index", "main_stocks")">
                                <i class="mdi mdi-checkbox-multiple-blank-outline" class="feather-icon"></i><span>
                                    RAW MATERIALS
                                </span>
                            </a>
                        </li>
                        <li>
                            <a class="sidebar-link" href="@Url.Action("supply", "main_stocks")">
                                <i class="mdi mdi-checkbox-multiple-blank-outline" class="feather-icon"></i><span>
                                    GIVE OUT STOCK
                                </span>
                            </a>
                        </li>
                        <li>
                            <a class="sidebar-link" href="@Url.Action("StockoutReport", "main_stocks")">
                                <i class="mdi mdi-checkbox-multiple-blank-outline" class="feather-icon"></i><span>
                                    MAIN STORE REPORT
                                </span>
                            </a>
                        </li>

                        <li>
                            <a class="sidebar-link" href="@Url.Action("Index", "Customers")">
                                <i class="mdi mdi-checkbox-multiple-blank-outline" class="feather-icon"></i><span>
                                    CUSTOMERS
                                </span>
                            </a>
                        </li>

                    }
                    if (UserType == "ADMIN")
                    {
                        <li class="menu-title">ADMIN</li>
                        <li>
                            <a class="sidebar-link" href="@Url.Action("Index", "Products")">
                                <i class="mdi mdi-checkbox-multiple-blank-outline" class="feather-icon"></i><span>
                                    PRODUCTS (FINISHED GOODS/ RAW MATERIALS)
                                </span>
                            </a>
                        </li>
                        <li>
                            <a class="sidebar-link" href="@Url.Action("Index", "Productions")">
                                <i class="mdi mdi-checkbox-multiple-blank-outline" class="feather-icon"></i><span>
                                    PRODUCTION
                                </span>
                            </a>
                        </li>
                        <li>
                            <a class="sidebar-link" href="@Url.Action("Index", "Stocks")">
                                <i class="mdi mdi-checkbox-multiple-blank-outline" class="feather-icon"></i><span>
                                    MANAGE STOCKS
                                </span>
                            </a>
                        </li>

                        <li>
                            <a class="sidebar-link" href="@Url.Action("SalesReport", "Sales")">
                                <i class="mdi mdi-checkbox-multiple-blank-outline" class="feather-icon"></i><span>
                                    SALES REPORT
                            </a>
                        </li>
                        <li>
                            <a class="sidebar-link" href="@Url.Action("Customertrnx", "Sales")">
                                <i class="mdi mdi-checkbox-multiple-blank-outline" class="feather-icon"></i><span>
                                    MODIFY TRANSACTION
                                </span>
                            </a>
                        </li>
                        <li>
                            <a class="sidebar-link" href="@Url.Action("Create", "Expensis")">
                                <i class="mdi mdi-checkbox-multiple-blank-outline" class="feather-icon"></i><span>
                                    POST EXPENSIS
                                </span>
                            </a>
                        </li>
                        <li>
                            <a class="sidebar-link" href="@Url.Action("Index", "Staffs")">
                                <i class="mdi mdi-checkbox-multiple-blank-outline" class="feather-icon"></i><span>
                                    WAGES/SALARIES
                                </span>
                            </a>
                        </li>
                        <!--<li>
                <a class="" href="@Url.Action("ViewCustomertrnx", "Sales")">
                    <span class="fa fa-align-center"></span>
                    TRANSACTION REPORT
                </a>
            </li>-->
                        <li>
                            <a class="sidebar-link" href="@Url.Action("Changeusertype", "Useraccounts")">
                                <i class="mdi mdi-checkbox-multiple-blank-outline" class="feather-icon"></i><span>
                                    USER ROLES
                                </span>
                            </a>
                        </li>
                        <!--<li>
                <a class="" href="@Url.Action("Customers", "Sales")">
                    <span class="fa fa-align-center"></span>
                    CUSTOMERS ACCOUNT
                </a>
            </li>
            <li>
                <a class="" href="@Url.Action("SalesReport", "Sales")">
                    <span class="fa fa-align-center"></span>
                    SALES REPORT
                </a>
            </li>
            <li>
                <a class="" href="@Url.Action("Index", "empty_stock")">
                    <span class="fa fa-align-center"></span>
                    EMPTIES STOCK CARD
                </a>
            </li>
            <li>
                <a class="" href="@Url.Action("Index", "Empty")">
                    <span class="fa fa-align-center"></span>
                    EMPTIES REPORT
                </a>
            </li>
            <li>
                <a class="" href="@Url.Action("FullsOwing", "Stocks")">
                    <span class="fa fa-align-center"></span>
                    FULLS OWING REPORT
                </a>
            </li>
            <li>
                <a class="" href="@Url.Action("Index", "stock_complain")">
                    <span class="fa fa-align-center"></span>
                    PRODUCT COMPLAIN
                </a>
            </li>
            <li>
                <a class="" href="@Url.Action("Supply", "Stocks")">
                    <span class="fa fa-align-center"></span>
                    SUPPLIES
                </a>
            </li>
            <li>
                <a class="" href="@Url.Action("Index", "Stocks_added")">
                    <span class="fa fa-align-center"></span>
                    ADDED STOCKS REPORT
                </a>
            </li>
            <li>
                <a class="" href="@Url.Action("Index", "Products")">
                    <span class="fa fa-align-center"></span>
                    PRODUCTS
                </a>
            </li>
            <li>
                <a class="" href="@Url.Action("Index", "STOCKS")">
                    <span class="fa fa-align-center"></span>
                    STOCKS
                </a>
            </li>
                <li>
                    <a class="" href="@Url.Action("Index", "Customers")">
                        <span class="fa fa-align-center"></span>
                        CUSTOMERS
                    </a>
                </li>-->
                        <li>
                            <a class="sidebar-link" href="@Url.Action("Index", "UserAccounts")">
                                <i class="mdi mdi-checkbox-multiple-blank-outline" class="feather-icon"></i><span>
                                    USERS
                                </span>
                            </a>
                        </li>
                        <!------------------------------------------------------------------------------------------------------------------>
                        <li class="menu-title">ACCOUNTANT</li>

                        <li>
                            <a class="sidebar-link" href="@Url.Action("Sales", "Sales")">
                                <i class="mdi mdi-checkbox-multiple-blank-outline" class="feather-icon"></i><span>
                                    SALES
                                </span>
                            </a>
                        </li>

                        <li>
                            <a class="sidebar-link" href="@Url.Action("Index", "Customers")">
                                <i class="mdi mdi-checkbox-multiple-blank-outline" class="feather-icon"></i><span>
                                    CUSTOMERS
                                </span>
                            </a>
                        </li>

                        <li>
                            <a class="sidebar-link" href="@Url.Action("CustomerAccounts", "Customers")">
                                <i class="mdi mdi-checkbox-multiple-blank-outline" class="feather-icon"></i><span>
                                    CUSTOMERS ACCOUNT
                                </span>
                            </a>
                        </li>
                        <li>
                            <a class="sidebar-link" href="@Url.Action("ViewCustomertrnx", "Sales")">
                                <i class="mdi mdi-checkbox-multiple-blank-outline" class="feather-icon"></i><span>
                                    TRANSACTION REPORT
                                </span>
                            </a>
                        </li>
                        <li>
                            <a class="sidebar-link" href="@Url.Action("index", "main_stocks")">
                                <i class="mdi mdi-checkbox-multiple-blank-outline" class="feather-icon"></i><span>
                                    RAW MATERIALS
                                </span>
                            </a>
                        </li>
                        <li>
                            <a class="sidebar-link" href="@Url.Action("supply", "main_stocks")">
                                <i class="mdi mdi-checkbox-multiple-blank-outline" class="feather-icon"></i><span>
                                    GIVE OUT STOCK
                                </span>
                            </a>
                        </li>
                        <li>
                            <a class="sidebar-link" href="@Url.Action("StockoutReport", "main_stocks")">
                                <i class="mdi mdi-checkbox-multiple-blank-outline" class="feather-icon"></i><span>
                                    MAIN STORE REPORT
                                </span>
                            </a>
                        </li>
                        <li>
                            <a class="sidebar-link" href="@Url.Action("Index", "Orders")">
                                <i class="mdi mdi-checkbox-multiple-blank-outline" class="feather-icon"></i><span>
                                    ORDER
                                </span>
                            </a>
                        </li>
                    }
                    <div class="clearfix"></div>
                }




                <hr />

                <li class="menu-title">CASH OFFICE</li>

                <li>
                    <a class="sidebar-link" href="@Url.Action("Sales", "Sales")">
                        <i class="mdi mdi-checkbox-multiple-blank-outline" class="feather-icon"></i><span>
                            SALES DASHBORD
                        </span>
                    </a>
                </li>
                <li>
                    <a class="sidebar-link" href="@Url.Action("Index", "Products")">
                        <i class="mdi mdi-checkbox-multiple-blank-outline" class="feather-icon"></i><span>
                            PRODUCTS (FINISHED GOODS/ RAW MATERIALS)
                            SALES DASHBORD
                        </span>
                    </a>
                </li>
                <li>
                    <a class="sidebar-link" href="@Url.Action("Index", "Stocks")">
                        <i class="mdi mdi-checkbox-multiple-blank-outline" class="feather-icon"></i><span>
                            MANAGE STOCKS (FINISHED GOODS)
                    </a>
                </li>
                <li>
                    <a class="sidebar-link" href="@Url.Action("Index", "Orders")">
                        <i class="mdi mdi-checkbox-multiple-blank-outline" class="feather-icon"></i><span>
                            ORDER
                            SALES DASHBORD
                        </span>
                    </a>
                </li>
                <li>
                    <a class="sidebar-link" href="@Url.Action("UserSalesReport", "Sales")">
                        <i class="mdi mdi-checkbox-multiple-blank-outline" class="feather-icon"></i><span>
                            SALES REPORT
                            SALES DASHBORD
                        </span>
                    </a>
                </li>
                <li>
                    <a class="sidebar-link" href="@Url.Action("Index", "Customers")">
                        <i class="mdi mdi-checkbox-multiple-blank-outline" class="feather-icon"></i><span>
                            CUSTOMERS
                            SALES DASHBORD
                        </span>
                    </a>
                </li>
                <li>
                    <a class="waves-effect" href="@Url.Action("Login","UserAccounts")"
                       aria-expanded="false">
                        <i class="mdi mdi-checkbox-multiple-blank-outline"></i><span>Logout</span>
                    </a>
                </li>
            </ul>
                </div>
                <!-- Sidebar -->
            </div>
        </div>
        <!-- Left Sidebar End -->