@model CHIMEX.Models.transaction

@{
    ViewBag.Title = "Supply";
    Layout = "~/Views/Shared/_Layout.cshtml";
    CHIMEX.Models.chimexerpEntities db = new CHIMEX.Models.chimexerpEntities();
    decimal TotalAmount = 0;
}

<div class="col-md-1"></div>
<div class="col-md-10">
    <!-- START PANEL WITH CONTROL CLASSES -->
    <div class="panel panel-warning">
        <div class="panel-heading">
            <h3 class="panel-title">Supplies</h3>
            <ul class="panel-controls">
                @*<li><button href="#" class="btn btn-default" onclick="printDiv('rpt')"><span class="fa fa-print"></span>Print</button></li>*@
                <li><a href="#" class="panel-fullscreen"><span class="fa fa-expand"></span></a></li>
                <li><a href="#" class="panel-collapse"><span class="fa fa-angle-down"></span></a></li>
                <li><a href="#" class="panel-refresh"><span class="fa fa-refresh"></span></a></li>
                <li><a href="#" class="panel-remove"><span class="fa fa-times"></span></a></li>
            </ul>
        </div>
        <div class="panel-body">
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                    </div>
                    <div class="panel-body">
                        <div class="table-responsive">
                            <div id="PrintPage" style="margin: 0px; padding: opx; padding-bottom:0px;">
                                <table class="table" style="margin: 0px; padding: opx; padding-bottom:0px;">
                                    <tr>
                                        <td colspan="5">
                                            <h1>
                                                Item In Stock
                                            </h1>
                                        </td>
                                    </tr>
                                    <tr class="success">
                                        <th>
                                            Item
                                        </th>
                                        <th>
                                            Unit Price
                                        </th>
                                        <th>
                                            Quantity
                                        </th>
                                        <th>
                                            Amount (&#8358)
                                        </th>
                                        <th></th>
                                    </tr>

                                    @foreach (var item in db.main_stocks.ToList())
                                    {
                                        <tr class="">
                                            <td>
                                                @Html.DisplayFor(modelItem => item.product.product_name)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.qty)
                                            </td>
                                            <td>
                                                <form action="@Url.Action("Supply","main_stocks")" method="post">
                                                    <input type="hidden" name="id" value="@item.id" />
                                                    <input type="hidden" name="userid" value="@Session["userid"]" />
                                                    <div class="col-md-8">
                                                        <input type="number" required="" name="qty" class="form-control" />
                                                    </div>
                                                    <div class="col-md-4">
                                                        <button class="btn btn-success btn-sm">+</button>
                                                    </div>
                                                </form>
                                            </td>
                                        </tr>
                                    }
                                </table>
                            </div>
                            <script>
                        //Save Complains
                        $(function () {
                            $("#btnPost").click('submit', function (e) {
                                        @*$(location).attr("href", "@Url.Action("Sale","Sales")");*@
                                    })
                        })
                            </script>
                            <hr />
                            <div class="col-md-12">
                                <button class="btn btn-success btn-line pull-right" onclick="javascript:printDiv('PrintPage');">
                                    <i class="icon icon-print"></i>
                                    Print
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="col-md-6">
                    <table class="table">
                        <tr>
                            <td colspan="4">
                                <h1>
                                    Stock Cart
                                </h1>
                            </td>
                        </tr>
                        <tr class="success">
                            <th>
                                Item
                            </th>
                            <th>
                                Quantity
                            </th>
                            @*<th>
                                Fulls Owing
                            </th>*@
                            <th></th>
                            <th></th>
                        </tr>
                        @foreach (var item in db.main_stocks.ToList())
                        {
                            <tr class="">
                                <td>
                                    @Html.DisplayFor(modelItem => item.product.product_name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.qty)
                                </td>
                                <td>
                                
                                </td>
                                <td>
                                    <a class="btn btn-sm btn-danger" href="@Url.Action("RemoveSupplyCart/"+item.id,"Sales")">X</a> 
                                </td>
                            </tr>
                        }
                        <tr>
                            <td colspan="3"></td>
                            <td>
                                <a href="@Url.Action("PostSupply/","Sales")" class="btn btn-success btn-sm">Post</a>
                            </td>
                        </tr>
                    </table>
                </div>

            </div>
        </div>
    </div>
    <!-- END PANEL WITH CONTROL CLASSES -->
</div>

