@model IEnumerable<CHIMEX.Models.product>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    CHIMEX.Models.chimexerpEntities db = new CHIMEX.Models.chimexerpEntities();
    int sn = 0;
}

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="card-header py-3">
                    <center>
                        <h4 class="m-0 font-weight-bold text-primary">Products</h4>
                    </center>
                </div>
                <br />
                <br />
                <div class="table-rep-plugin">
                    <div class="table-responsive mb-0" data-pattern="priority-columns">
                        <div class="row">
                            <div class="col-md-8">
                                <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for item..">
                            </div>
                            <div class="col-md-4">
                                <button href="#" class="btn btn-warning pull-right" onclick="printDiv('rpt')"><span class="fa fa-print"></span>Print</button>
                                <a href="@Url.Action("Create", "products")" class="btn btn-success">Create Product</a>
                            </div>                            
                        </div>
                        <div class="panel-body" id="rpt">
                            <table class="table table-striped" id="search">
                                <thead>
                                    <tr>
                                        <th data-priority="1">
                                            Product Name
                                        </th>
                                        <th data-priority="2">
                                            Description
                                        </th>
                                        <th data-priority="3">
                                            Cost price
                                        </th>
                                        <th data-priority="4">
                                            Selling Price
                                        </th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    @foreach (var item in Model.OrderBy(p => p.producttype))
                                    {
                                        sn++;
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.product_name)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.description)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.cost_price)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.selling_price)
                                            </td>
                                            <td>
                                                <a href="@Url.Action("Edit", "Products", new { id = item.id })">
                                                    <i class="fa fa-edit btn btn-info btn-sm">Edit</i>
                                                </a> |
                                                <a href="@Url.Action("Details", "Products", new { id = item.id })">
                                                    <i class="btn btn-warning btn-sm">Details</i>
                                                </a> |
                                                <a href="@Url.Action("Delete", "Products", new { id = item.id })">
                                                    <i class="btn btn-danger btn-sm">Delete</i>
                                                </a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end col -->
    </div>
    <!-- end row -->
</div> 