@model CHIMEX.Models.Expensi

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="card-header py-3">
                    <center>
                        <h4 class="m-0 font-weight-bold text-primary">Payment Voucher</h4>
                    </center>
                </div>
                <br />
                <br />
                <button href="#" class="btn btn-outline-warning pull-right" onclick="printDiv('rpt')"><span class="fa fa-print"></span>Print</button>


                <div class="panel-body" id="rpt">
                    <div id="PrintPage" style="margin: 0px; padding: opx; padding-bottom:0px;">
                        <h3 class="text-center">GOBBLES BAKERY</h3>
                        <h5 class="text-center">
                            Think fresh, think phillycious
                        </h5>
                        <p class="text-center">
                            NO. 37, Bourmediene Road, Narayi High Cost Junction Kaduna.
                        </p>
                        <p class="text-center">
                            08154546234, 09032155947
                        </p>
                        <h3 class="text-center ">***********************</h3>
                        <h3 class="text-center">PAYMENT VOUCHER</h3>
                        <h4 class="text-center">---------------------------</h4>
                        <table class="table" style="margin: 0px; padding: opx; padding-bottom:0px;">
                            <tr>
                                <td colspan="2">
                                    <label>
                                        PV ID:
                                    </label>
                                </td>
                                <td colspan="2">
                                    <label>
                                        @Model.id
                                    </label>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <label>
                                        Date:
                                    </label>
                                </td>
                                <td colspan="2">
                                    <label>
                                        @DateTime.Now
                                    </label>
                                </td>
                            </tr>


                            <tr>
                                <td colspan="2">
                                    <label>
                                        Requested By:
                                    </label>
                                </td>
                                <td colspan="2">
                                    <label>
                                        @Model.useraccount.firstname @Model.useraccount.lastname @Model.useraccount.othernames
                                    </label>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <label>Head:</label>
                                </td>
                                <td colspan="2">
                                    @Model.head
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <label>Description:</label>
                                </td>
                                <td colspan="2">
                                    @Model.description
                                </td>
                            </tr>
                            <tr class="success">
                                <th colspan="2">
                                    Amount:
                                </th>
                                <th colspan="2" class="text-right">
                                    @Model.amount
                                </th>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <!-- END PANEL WITH CONTROL CLASSES -->
        </div>
    </div>
</div>