@model IEnumerable<CHIMEX.Models.stock>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    CHIMEX.Models.chimexerpEntities db = new CHIMEX.Models.chimexerpEntities();
}
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="card-header py-3">
                    <center>
                        <h4 class="m-0 font-weight-bold text-primary">Stocks</h4>
                    </center>
                </div>
                <br />
                <br />


                <!-- START PANEL WITH CONTROL CLASSES -->
                <div class="panel panel-warning">


                    <label>Add Product to stock List</label>
                    <div class="row">
                        <div class="col-md-12">
                            <form method="post" action="@Url.Action("newstock","Stocks")">
                                <input type="hidden" name="userid" value="@Session["userid"]" />
                                <div class="row">
                                    <div class="col-md-8">
                                        <select class="form-control" name="productid" required="">
                                            <option disabled>Select Prduct</option>
                                            @foreach (var item in db.products.Where(p => p.producttype == "FINISHED").OrderBy(p => p.product_name).ToList())
                                            {
                                                if (db.stocks.Where(p => p.product_id == item.id).Count() > 0)
                                                {

                                                }
                                                else
                                                {
                                                    <option value="@item.id">@item.product_name</option>
                                                }
                                            }
                                        </select>
                                    </div>
                                    <div class="col-md-4">
                                        <button class="btn btn-success">post</button>
                                        <button href="#" class="btn btn-warning pull-right" onclick="printDiv('rpt')"><span class="fa fa-print"></span>Print</button>

                                    </div>
                                </div>

                            </form>
                        </div>
                        @*<div class="col-md-3">
            <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#newstock">Add product to Stock</button>
        </div>*@


                        <div class="panel-body" id="rpt">
                            <!-- Modal -->
                            <div id="newstock" class="modal fade" role="dialog">
                                <div class="modal-dialog">
                                    <!-- Modal content-->
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                            <h4 class="modal-title">Add new Stock</h4>
                                        </div>
                                        <div class="modal-body">
                                            <form method="post" action="@Url.Action("newstock","Stocks")">
                                                <input type="hidden" name="userid" value="@Session["userid"]" />
                                                <select class="form-control" name="productid" required="">
                                                    <option disabled>Select Prduct</option>
                                                    @foreach (var item in db.products.ToList())
                                                    {
                                                        if (db.stocks.Where(p => p.product_id == item.id).Count() > 0)
                                                        {

                                                        }
                                                        else
                                                        {
                                                            <option value="@item.id">@item.product_name</option>
                                                        }
                                                    }
                                                </select>
                                                <button class="btn btn-sm btn-success">post</button>

                                            </form>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <hr />
                            <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for item..">
                            <div class="table-rep-plugin">
                                <div class="table-responsive mb-0" data-pattern="priority-columns">
                                    <div class="panel-body" id="rpt">
                                        <table class="table table-striped" id="search">
                                            <thead>
                                                <tr>
                                                    <th data-priority="1">
                                                        Product
                                                    </th> 
                                                    <!--<th>
                                    Price
                                </th>-->
                                                    <th>
                                                        Quantity
                                                    </th>
                                                    <!-- <th>
                                    Amount
                                </th>
                                <th>
                                    Fulls Owing
                                </th>
                                               <th>
                                                   Stock Balance
                                               </th>-->
                                                    <th>Action</th>
                                                </tr>

                                                @foreach (var item in Model)
                                                {
                                                    <tr>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.product.product_name)
                                                        </td>
                                                        <!--<td>
                                        @Html.DisplayFor(modelItem => item.product.selling_price)
                                    </td>-->
                                                        <td>

                                                            @Html.DisplayFor(modelItem => item.qty)
                                                        </td>


                                                        <td>
                                                            <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#newstock_@item.id">Add Stock</button>

                                                            <!-- Modal -->
                                                            <div id="newstock_@item.id" class="modal fade" role="dialog">
                                                                <div class="modal-dialog">

                                                                    <!-- Modal content-->
                                                                    <div class="modal-content">
                                                                        <div class="modal-header">
                                                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                                            <h4 class="modal-title">Add Stock</h4>
                                                                        </div>
                                                                        <div class="modal-body">
                                                                            <form method="post" action="@Url.Action("addstock","Stocks")">
                                                                                <input type="hidden" name="stockid" value="@item.id" />
                                                                                <label>
                                                                                    Enter Quantity
                                                                                </label>
                                                                                <input type="number" required="" name="qty" class="form-control" />
                                                                                <button class="btn btn-sm btn-success">post</button>
                                                                            </form>
                                                                        </div>
                                                                        <div class="modal-footer">
                                                                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                                                        </div>
                                                                    </div>

                                                                </div>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                }
                                        </table>
                                    </div>
                                </div>
                                <!-- END PANEL WITH CONTROL CLASSES -->
                            </div>
                        </div>
                    </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
 
